.container {
    min-height: 100vh;
<<<<<<< HEAD
=======
    padding: 0 0.5rem;
>>>>>>> be6db4ec482464277b494a761377574d5a0c2912
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    border: 20px solid green;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    margin: 10px 10px;
    border: 2px solid grey;
    border-radius: 10px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.button {
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonEdit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 8px;
    border-radius: 10px;
}

.buttonDelete {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.name {
    font-size: 1.5rem;
}

.list {
    /* border: 2px solid red; */
    width: 85vw;
    padding-inline-start: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.input {
    font-size: 1.6rem;
}

.buttonAdd {
    margin-left: 16px;
    background-color: #e4bd22;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
=======
    border: 10px solid blue;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
    width: 80vw;
    border: 2px solid royalblue;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.listItem {
    display: flex;
    flex-direction: column;
    margin: 32px;
    padding: 32px;
    border: 2px solid green;
    font-size: 1.4rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid pink
}

.button {
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 8px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
}

.btnEdit {
    background-color: #4CAF50;
}

.btnDelete {
    background-color: #f44336;
}

.btnAdd {
    background-color: burlywood;
}

.text {
    font-size: 1.4rem;
}

.topRight {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4rem;
}

.topRight:hover {
    color: red;
>>>>>>> be6db4ec482464277b494a761377574d5a0c2912
}